.testimonial{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .heading{
        margin-bottom: 40px;
    }
    
    h1.heading{
        font-size: 60px;
        text-align: center;
        font-family: Supermercado One, cursive;
        font-weight: 700;
        margin-bottom: 10px;
        color: #751332;
    }
}